h1{text-align: center;
    color:gold;
    font-family: 'Arial';
    font-size: 30px;
    
}

p{color:fuchsia;
    font-family: verdana;
    font size:20px;
}

h3{color: fuchsia;}

a{color:goldenrod;
    font-size: 25px"}
    
    h3{color:fuchsia} 